<!--         -->
<!-- SAMPLE1 -->
<!--         -->
<mat-card class="card">
  <mat-card-title>Nest Layout</mat-card-title>

  <mat-card-subtitle>
    Using 'column in rows' and 'row in columns' nested flex-layout.
  </mat-card-subtitle>

  <!-- content -->
  <mat-card-content>
    <div fxLayout="column">
      <!-- Column-1 -->
      <div
        fxLayout="row"
        fxFlex="50px"
        style="background-color: #74edfd"
        fxLayoutAlign="center center"
      >
        column1
      </div>
      <!-- Column-2 -->
      <div fxLayout="row" style="height: 100%">
        <!-- Column-2 Row-1-->
        <div
          fxLayout="column"
          fxFlex="30"
          fxFlexFill
          style="background-color: #fd7474"
          fxLayoutAlign="space-between strech"
        >
          <div
            fxLayout="row"
            fxFlex="60"
            style="background-color: #ffa1a1"
            fxLayoutAlign="center center"
          >
            column2-1 row1 column2-1 row1 column2-1 row1 column2-1 row1
            column2-1 row1 column2-1 row1column2-1 row1 column2-1 row1 column2-1
            row1 column2-1 row1 column2-1 row1column2-1 row1
          </div>
        </div>
        <!-- Column-2 Row-2-->
        <div
          fxLayout="row"
          fxFlex="70"
          fxFlexFill
          style="background-color: #e8fd74"
          fxLayoutAlign="space-around strech"
        >
          <div
            fxFlex="90"
            style="background-color: #f1fac0"
            fxLayoutAlign="center center"
          >
            column2, row2-1 gjvjhg ghv hgf hgv hghgjf jgj h gfhgfhg fghfhgf hgf
            gh fhg hgc hg cjhg jfgfhg fchfh gfhgf gfhkgf hgf gkfghf kgh fhg
            fghfhgfhg fhgf h fhgf hgf hfjhf hj fhj fjhk ffgfhgfk hfkhg fkf
          </div>
        </div>
      </div>
      <!-- Column-3 -->
      <div fxLayout="row" style="height: 75px; background-color: #74fd86">
        <div
          fxFlex="20"
          fxFlexOffset="10"
          style="background-color: #b5ffbf"
          fxLayoutAlign="center center"
        >
          column3 row1
        </div>
        <div
          fxFlex="80"
          fxFlexOffset="10"
          style="background-color: #b5ffbf"
          fxLayoutAlign="center center"
        >
          column3 row2
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!--         -->
<!-- SAMPLE2 -->
<!--         -->
<mat-card class="card">
  <mat-card-title>Break Point</mat-card-title>

  <mat-card-subtitle>
    Simple flex-layout with break point.<br />
    If you want customize to break point ->
    https://github.com/angular/flex-layout/wiki/Breakpoints
  </mat-card-subtitle>

  <!-- content -->
  <mat-card-content>
    <div fxLayout="column">
      <!-- Header -->
      <div
        fxLayout="row"
        fxFlex="50px"
        style="background-color: #74edfd"
        fxLayoutAlign="center center"
      >
        header
      </div>
      <!-- Main -->
      <div fxLayout="row wrap" style="height: 150px">
        <div
          fxFlexOrder="1"
          fxLayout="row"
          fxLayout.xs="column"
          fxFlex.xs="100"
          fxFlex.gt-xs="30"
          style="background-color: #fd7474"
          fxLayoutAlign="center center"
        >
          side nav
        </div>
        <div
          fxFlexOrder="5"
          fxLayout="row"
          fxFlex.xs="100"
          fxFlex.gt-xs="70"
          fxFlex.gt-sm="50"
          style="background-color: #e8fd74"
          fxLayoutAlign="center center"
        >
          article
        </div>
        <div
          fxFlexOrder="10"
          fxLayout="row"
          fxHide.xs
          fxHide.sm
          fxFlex.gt-sm="20"
          style="background-color: #74fd86"
          fxLayoutAlign="center center"
        >
          toc
        </div>
      </div>
      <!-- Footer -->
      <div
        fxLayout="row"
        fxFlex="50px"
        style="background-color: #74edfd"
        fxLayoutAlign="center center"
      >
        footer
      </div>
    </div>
  </mat-card-content>
</mat-card>

<!-- 
xs	'screen and (max-width: 599px)'
sm	'screen and (min-width: 600px) and (max-width: 959px)'
md	'screen and (min-width: 960px) and (max-width: 1279px)'
lg	'screen and (min-width: 1280px) and (max-width: 1919px)'
xl	'screen and (min-width: 1920px) and (max-width: 5000px)'
-->

<!--         -->
<!-- SAMPLE3 -->
<!--         -->
<mat-card class="card">
  <mat-card-title>Grid & flex layout</mat-card-title>

  <mat-card-subtitle>
    Angular component Grid & Flex layout.<br />
  </mat-card-subtitle>

  <mat-card-content>
    <div fxLayout="row wrap">
      <div
        fxFlex="25"
        fxFlex.sm="33.3"
        fxFlex.xs="50"
        *ngFor="let tile of tiles"
      >
        <mat-grid-list cols="1" rowHeight="1:1">
          <mat-grid-tile [style.background]="tile.color">
            {{ tile.text }}
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </mat-card-content>
</mat-card>
